*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* font-family: 'Fraunces', serif; */
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cream);
}

:root{
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --main-margin: 0 0 10px;
}

@media (min-width: 768px){
    .card{
        display: flex;
        flex-flow: row nowrap;
        margin: 150px auto;
        width: 550px;
        height: 430px;
        border-radius: 10px;
        background-color: var(--white);
    }
    .card .main-img-2{
        width: 50%;
        height: inherit;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
    }
    .card .main-img{
        display: none;
    }
    .card .info-txt{
        display: flex;
        flex-flow: column nowrap;
        width: 50%;
    }
}

@media (max-width: 767px){
    .card{
        display: flex;
        flex-flow: column wrap;
        margin: 30px auto;
        width: 350px;
        border-radius: 10px;
        background-color: var(--white);
    }
    .card .main-img-2{
        display: none;
    }
    .card .main-img{
        width: 100%;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
}

.card .info-txt{
    padding: 20px;
}

.card .info-txt p:first-of-type{
    text-transform: lowercase;
    margin: var(--main-margin);
    font-variant: small-caps;
    letter-spacing: 4px;
    color: var(--dark-grayish-blue);
    font-size: 20px;
    font-weight: 500;
}

.card .info-txt h2{
    font-family: 'Fraunces', serif;
    font-size: 30px;
    margin: var(--main-margin);
    color: var(--very-dark-blue);
    font-weight: 700;
}

.card .info-txt p:nth-of-type(2){
    color: var(--dark-grayish-blue);
    line-height: 1.5;
}

.card .info-txt .price{
    margin-top: 20px;
}

.card .info-txt .price span:first-of-type{
    color: var(--dark-cyan);
    font-weight: 700;
    font-family: 'Fraunces', serif;
    font-size: 30px;
}

.card .info-txt .price span:nth-of-type(2){
    vertical-align: super;
    font-size: 15px;
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    margin-left: 15px;
}

.card .info-txt button{
    width: calc(100% - 40px);
    margin: 15px auto 0;
    color: var(--white);
    border: none;
    background-color: var(--dark-cyan);
    border-radius: 10px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.card .info-txt button img{
    margin-right: 10px;
}